.footer {
  background-color: #f2f2f2;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  flex-direction: column;
}

.footer h1 {
  font-family: "Cedarville Cursive", cursive;
  font-size: 40px;
  font-weight: lighter;
}

.footer ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.footer ul li {
  font-family: "Poppins", sans-serif;
  color: #000;
  list-style: none;
  font-size: 20px;
  margin: 20px;
  cursor: pointer;
}

.footer p {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  text-transform: uppercase;
}

.footer span {
  font-family: "Cedarville Cursive", cursive;
  text-transform: capitalize;
}

@media only screen and (max-width: 600px) {
  .footer {
    padding: 10px;
  }

  .footer h1 {
    font-size: 30px;
  }

  .footer ul li {
    font-size: 18px;
  }

  .footer p {
    font-size: 15px;
  }
}
